/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: black;
}

.cards{
  width: 100%;
  /* max-width: 1280px; */
  height: 100%;
  background-color: black;
  /* margin: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  padding: 100px 50px;
  

}

.card{
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: grid;
  justify-items: center;
  gap: 20px;

}


.card img{
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.searchbar{
  width: 100%;
  max-width:1280px;
  margin: auto;
  display: flex;
  justify-content: center;
 margin-top: 50px;
 flex-direction: column;
 align-items: center;
}

h1{
  margin-bottom: 20px;
}


.searchbar input{
  width: 50%;
  height: 50px;
  padding: 20px;
  border: 2px solid #fff;
  color: #fff;
}

.searchbar ::placeholder{
 
  color: #fff;
}



.btns{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.btns button{
  padding: 10px 20px;
  border: none;
  border: 1px solid #fff;
  font-size: 18px;
  cursor: pointer;
}
.btns button:hover{
  background-color: cornflowerblue;
}
.btns button:active{
  background-color: cornflowerblue;
}



.active{
  background-color: cornflowerblue;
}