

/* .Recomended-flex{
    display: flex;
    margin-left: 20rem;
} */

.Recomended-title{
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}
.Recomended-title h2{
  
    margin-bottom: 20px;
   
}